[Unit]
Description=Loki service
After=network.target

[Service]
Type=simple
User=loki
ExecStart=/usr/local/bin/loki -config.file /etc/loki/config.yml
# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec = 60
Restart = on-failure
RestartSec=20
StandardOutput=append:/var/log/loki/loki.log
StandardError=append:/var/log/loki/loki.log

[Install]
WantedBy=multi-user.target
